* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 10rem;
    background-color: black;
    color: white
}

.container {
    max-width: 1000px;
    margin-inline: auto;
}

h1 {
    text-align: center;
    margin-bottom: 5rem;
}

.line {
    font-size: 3rem;
    margin: 1rem 0 1rem 0;
}

.result-line {
   text-align: end;
   color: yellow;
}

.userNum, 
.cpuNum {
    margin: .5rem;
}

.iceiceimg {
    height: 300px;
    text-align: end;
    display: block;
    margin: 0 auto;
}

.play-btn {
    text-align: end;
    font-size: 2rem;
    background-color: yellow;
}
